<div class="tab-pane fade show active" id="show-image" role="tabpanel" aria-labelledby="nav-home-tab">
    <!-- DataTales Example -->
    <div class="row">
        <% for (let i = 0; i < item.imageId.length; i++) { %>
            <div class="col-md-4">
                <div class="card shadow mb-4 mt-2">
                    <div class="card-body">
                        <img src="https://staycation-adminapp.herokuapp.com/<%= item.imageId[i].imageUrl %>" alt="image" style="display: block; width: 100%;">
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <a href="/admin/item" class="btn btn-warning">Back</a>
</div>